<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.primod.maaxframe"
        versionCode="3001" 
        version   = "3.0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>MaaxFrame</name>

    <description>
        Customer relationship model (CRM)- MaaxFrame.com
    </description>

    <author href="https://build.phonegap.com" email="piyush@maaxframe.com">
        Tushar Takkar
    </author>
  
    <!-- icons for android devices only-->
    <icon src="icon.png" />
    <icon src="res/android/drawable-hdpi/ic_launcher.png"      gap:platform="android"    gap:density="hdpi" />
    <icon src="res/android/drawable-ldpi/ic_launcher.png"      gap:platform="android"    gap:density="ldpi" />
    <icon src="res/android/drawable-mdpi/ic_launcher.png"     gap:platform="android"    gap:density="mdpi" />
    <icon src="res/android/drawable-xhdpi/ic_launcher.png"   gap:platform="android"    gap:density="xhdpi" />
    
    <icon src="res/ios/icon-Small-50.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/ios/icon-Small-50@2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/ios/icon-72@2x.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="res/ios/icon.png"          gap:platform="webos" />
    
    <icon src="res/windows/icon-48.png"  gap:platform="winphone" />
    <icon src="res/windows/icon-144.png" gap:platform="winphone"   gap:role="background" />
    <!-- allow local pages -->

   
    
</widget>
